@import "bootstrap/scss/bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(234, 227, 255);
  img {
    object-fit: cover;
  }
}

.bg {
  background-image: url(./images/top.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
